@model C19M.UI.Models.Gumel2006.Figure6
<div>
    <canvas id="Figure6_Canvas"></canvas>
</div>
<script>
    GenerateChart_Gumel2006(
        'Figure6_Canvas',
        300,
        1000,
        @Html.Raw(Json.Encode(Model.Days)),
        @Html.Raw(Json.Encode(Model.DayLatentIndividuals)),
        @Html.Raw(Json.Encode(Model.DayInfectedIndividuals)),
        @Html.Raw(Json.Encode(Model.DayTreatedIndividuals)),
        @Html.Raw(Json.Encode(Model.DaySusceptibleIndividuals)),
        @Html.Raw(Json.Encode(Model.DayVaccinatedIndividuals)),
        'Day',
        'Number of Individuals',
        'Beijing'
    );
</script>