@model C19M.UI.Models.Gumel2004

@{
    ViewBag.Title = "Gumel2004";
}

<head>
    <title>Line Chart</title>
    <script src="~/Scripts/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.15.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@0.2.0"></script>
    <script src="~/Scripts/utils.js"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
</head>

<div>
    <canvas id="DayCumulativeDiseaseInducedDeaths_Canvas"></canvas>
</div>
<div>
    <canvas id="Beijing_Canvas"></canvas>
</div>
<script>
    function GenerateData(days, values) {
        let data = [];

        let i = 0;

        for (; i < days.length; i++) {
            data.push(
                {
                    x: luxon.DateTime.fromFormat(days[i], 'LLL dd yyyy').valueOf(),
                    y: values[i]
                });
        }

        return data;
    }

    const Beijing_Context = document.getElementById('Beijing_Canvas').getContext('2d');
    Beijing_Context.canvas.width = 1000;
    Beijing_Context.canvas.height = 300;

    const dayCumulativeDiseaseInducedDeaths_Context = document.getElementById('DayCumulativeDiseaseInducedDeaths_Canvas').getContext('2d');
    dayCumulativeDiseaseInducedDeaths_Context.canvas.width = 1000;
    dayCumulativeDiseaseInducedDeaths_Context.canvas.height = 300;

    var Beijing_Days = @Html.Raw(Json.Encode(Model.Days));
    var Beijing_DayAsymptomaticIndividuals = @Html.Raw(Json.Encode(Model.Beijing_DayAsymptomaticIndividuals_Array));
    var Beijing_DaySymptomaticIndividuals = @Html.Raw(Json.Encode(Model.Beijing_DaySymptomaticIndividuals_Array));
    var Beijing_DayIsolatedIndividuals = @Html.Raw(Json.Encode(Model.Beijing_DayIsolatedIndividuals_Array));
    var Beijing_DayQuarantinedIndividuals = @Html.Raw(Json.Encode(Model.Beijing_DayQuarantinedIndividuals_Array));
    var Beijing_DayRecoveredIndividuals = @Html.Raw(Json.Encode(Model.Beijing_DayRecoveredndividuals_Array));
    var Beijing_DaySusceptibleIndividuals = @Html.Raw(Json.Encode(Model.Beijing_DaySusceptibleIndividuals_Array));
    var Beijing_DayCumulativeDiseaseInducedDeaths = @Html.Raw(Json.Encode(Model.Beijing_DayCumulativeDiseaseInducedDeaths_Array));

    var GreaterTorontoArea_Days = @Html.Raw(Json.Encode(Model.Days));
    var GreaterTorontoArea_DayCumulativeDiseaseInducedDeaths = @Html.Raw(Json.Encode(Model.GreaterTorontoArea_DayCumulativeDiseaseInducedDeaths_Array));

    var HongKong_Days = @Html.Raw(Json.Encode(Model.Days));
    var HongKong_DayCumulativeDiseaseInducedDeaths = @Html.Raw(Json.Encode(Model.HongKong_DayCumulativeDiseaseInducedDeaths_Array));

    var Singapore_Days = @Html.Raw(Json.Encode(Model.Days));
    var Singapore_DayCumulativeDiseaseInducedDeaths = @Html.Raw(Json.Encode(Model.Singapore_DayCumulativeDiseaseInducedDeaths_Array));

    const color = Chart.helpers.color;

    var Beijing_DayAsymptomaticIndividuals_Dataset = {
        label: 'Asymptomatic Individuals',
        backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
        borderColor: window.chartColors.red,
        data: GenerateData(Beijing_Days, Beijing_DayAsymptomaticIndividuals),
        type: 'line',
        pointRadius: 0,
        fill: false,
        lineTension: 0,
        borderWidth: 2
    };

    var Beijing_DaySymptomaticIndividuals_Dataset = {
        label: 'Symptomatic Individuals',
        backgroundColor: color(window.chartColors.orange).alpha(0.5).rgbString(),
        borderColor: window.chartColors.orange,
        data: GenerateData(Beijing_Days, Beijing_DaySymptomaticIndividuals),
        type: 'line',
        pointRadius: 0,
        fill: false,
        lineTension: 0,
        borderWidth: 2
    };

    var Beijing_DayIsolatedIndividuals_Dataset = {
        label: 'Isolated Individuals',
        backgroundColor: color(window.chartColors.yellow).alpha(0.5).rgbString(),
        borderColor: window.chartColors.yellow,
        data: GenerateData(Beijing_Days, Beijing_DayIsolatedIndividuals),
        type: 'line',
        pointRadius: 0,
        fill: false,
        lineTension: 0,
        borderWidth: 2
    };

    var Beijing_DayQuarantinedIndividuals_Dataset = {
        label: 'Quarantined Individuals',
        backgroundColor: color(window.chartColors.green).alpha(0.5).rgbString(),
        borderColor: window.chartColors.green,
        data: GenerateData(Beijing_Days, Beijing_DayQuarantinedIndividuals),
        type: 'line',
        pointRadius: 0,
        fill: false,
        lineTension: 0,
        borderWidth: 2
    };

    var Beijing_DayRecoveredIndividuals_Dataset = {
        label: 'Recovered Individuals',
        backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
        borderColor: window.chartColors.blue,
        data: GenerateData(Beijing_Days, Beijing_DayRecoveredIndividuals),
        type: 'line',
        pointRadius: 0,
        fill: false,
        lineTension: 0,
        borderWidth: 2
    };

    var Beijing_DaySusceptibleIndividuals_Dataset = {
        label: 'Susceptible Individuals',
        backgroundColor: color(window.chartColors.purple).alpha(0.5).rgbString(),
        borderColor: window.chartColors.purple,
        data: GenerateData(Beijing_Days, Beijing_DaySusceptibleIndividuals),
        type: 'line',
        pointRadius: 0,
        fill: false,
        lineTension: 0,
        borderWidth: 2
    };

    var Beijing_DayCumulativeDiseaseInducedDeaths_Dataset = {
        label: 'Beijing',
        backgroundColor: color(window.chartColors.orange).alpha(0.5).rgbString(),
        borderColor: window.chartColors.orange,
        data: GenerateData(Beijing_Days, Beijing_DayCumulativeDiseaseInducedDeaths),
        type: 'line',
        pointRadius: 0,
        fill: false,
        lineTension: 0,
        borderWidth: 2
    };

    var GTA_DayCumulativeDiseaseInducedDeaths_Dataset = {
        label: 'GTA',
        backgroundColor: color(window.chartColors.green).alpha(0.5).rgbString(),
        borderColor: window.chartColors.green,
        data: GenerateData(GreaterTorontoArea_Days, GreaterTorontoArea_DayCumulativeDiseaseInducedDeaths),
        type: 'line',
        pointRadius: 0,
        fill: false,
        lineTension: 0,
        borderWidth: 2
    };

    var HK_DayCumulativeDiseaseInducedDeaths_Dataset = {
        label: 'Hong Kong',
        backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
        borderColor: window.chartColors.red,
        data: GenerateData(HongKong_Days, HongKong_DayCumulativeDiseaseInducedDeaths),
        type: 'line',
        pointRadius: 0,
        fill: false,
        lineTension: 0,
        borderWidth: 2
    };

    var Singapore_DayCumulativeDiseaseInducedDeaths_Dataset = {
        label: 'Singapore',
        backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
        borderColor: window.chartColors.blue,
        data: GenerateData(Singapore_Days, Singapore_DayCumulativeDiseaseInducedDeaths),
        type: 'line',
        pointRadius: 0,
        fill: false,
        lineTension: 0,
        borderWidth: 2
    };

    const Beijing_Configuration = {
        data: {
            datasets: [
                Beijing_DayAsymptomaticIndividuals_Dataset,
                Beijing_DaySymptomaticIndividuals_Dataset,
                Beijing_DayIsolatedIndividuals_Dataset,
                Beijing_DayQuarantinedIndividuals_Dataset,
                Beijing_DayRecoveredIndividuals_Dataset,
                Beijing_DaySusceptibleIndividuals_Dataset]
        },
        options: {
            animation: {
                duration: 0
            },
            scales: {
                x: {
                    type: 'time',
                    distribution: 'series',
                    offset: true,
                    ticks: {
                        major: {
                            enabled: true,
                        },
                        fontStyle: 'bold',
                        source: 'data',
                        autoSkip: true,
                        autoSkipPadding: 75,
                        maxRotation: 0,
                        sampleSize: 200
                    },
                },
                y: {
                    type: 'logarithmic',
                    gridLines: {
                        drawBorder: false
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Number of People'
                    }
                }
            },
            tooltips: {
                intersect: false,
                mode: 'index',
                callbacks: {
                    label: function (tooltipItem, myData) {
                        let label = myData.datasets[tooltipItem.datasetIndex].label || '';
                        if (label) {
                            label += ': ';
                        }
                        label += parseFloat(tooltipItem.value).toFixed(2);
                        return label;
                    }
                }
            }
        }
    };

    const dayCumulativeDiseaseInducedDeaths_Configuration = {
        data: {
            datasets: [
                Beijing_DayCumulativeDiseaseInducedDeaths_Dataset,
                GTA_DayCumulativeDiseaseInducedDeaths_Dataset,
                HK_DayCumulativeDiseaseInducedDeaths_Dataset,
                Singapore_DayCumulativeDiseaseInducedDeaths_Dataset]
        },
        options: {
            animation: {
                duration: 0
            },
            scales: {
                x: {
                    type: 'time',
                    distribution: 'series',
                    offset: true,
                    ticks: {
                        major: {
                            enabled: true,
                        },
                        fontStyle: 'bold',
                        source: 'data',
                        autoSkip: true,
                        autoSkipPadding: 75,
                        maxRotation: 0,
                        sampleSize: 200
                    },
                },
                y: {
                    type: 'linear',
                    gridLines: {
                        drawBorder: false
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Cumulative Number of Disease-Induced Deaths'
                    }
                }
            },
            tooltips: {
                intersect: false,
                mode: 'index',
                callbacks: {
                    label: function (tooltipItem, myData) {
                        let label = myData.datasets[tooltipItem.datasetIndex].label || '';
                        if (label) {
                            label += ': ';
                        }
                        label += parseFloat(tooltipItem.value).toFixed(2);
                        return label;
                    }
                }
            }
        }
    };

    const Beijing_Chart = new Chart(
        Beijing_Context,
        Beijing_Configuration);

    const dayCumulativeDiseaseInducedDeaths_chart = new Chart(
        dayCumulativeDiseaseInducedDeaths_Context,
        dayCumulativeDiseaseInducedDeaths_Configuration);
</script>