@model C19M.UI.Models.Gumel2004.Singapore
<div>
    <canvas id="Singapore_Canvas"></canvas>
</div>
<script>
    GenerateChartGumel(
        'Singapore_Canvas',
        300,
        1000,
        @Html.Raw(Json.Encode(Model.Days)),
        @Html.Raw(Json.Encode(Model.DayCumulativeDiseaseInducedDeaths_Array)),
        @Html.Raw(Json.Encode(Model.DayAsymptomaticIndividuals_Array)),
        @Html.Raw(Json.Encode(Model.DaySymptomaticIndividuals_Array)),
        @Html.Raw(Json.Encode(Model.DayIsolatedIndividuals_Array)),
        @Html.Raw(Json.Encode(Model.DayQuarantinedIndividuals_Array)),
        @Html.Raw(Json.Encode(Model.DayRecoveredIndividuals_Array)),
        @Html.Raw(Json.Encode(Model.DaySusceptibleIndividuals_Array)),
        'Day',
        'Number of Individuals',
        'Singapore'
    );
</script>